/* Variables */

:root{
    --basic-black: #000000;
    --basic-blue: #293449;
    --basic-dark-blue: #161D29;
    --basic-extra-dark-blue: #1D2739;

    --basic-material: #FFBF47;
    --basic-tool: #3BBCE3;
    --basic-technics: #DC91D8;
    --basic-discount: #8ED78F;
    --basic-delivery: #FFBF47;

    --basic-red: #EE3643;
    --basic-dark-red: #CA2C37;
    --basic-extra-dark-red: #BA2732;
    --basic-green: #63A63E;
    --basic-light-green: #5FBB2D;
    --basic-dark-green: #518534;

    --basic-adress-link:#32425C;

    --basic-bookmark-hover: #32425C;
    --basic-bookmark-hover-dark:#293449;
    --basic-bookmark-click: #99A1AE;

    --bacis-white:#ffffff;
    --basic-light-blue:#F1F5F7;
    --basic-ligth-yellow:#F7F3EC;

    --basic-yellow:#FFD180;
    --basic-light-yellow:#F9F5F0;
    --basic-del-text:#a9a9a9;

    --basic-item-border:#EAEAEA;
    --basic-new-bg:url("../img/new-item.svg") no-repeat 100% 0%;
}

/* 
font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;

*/

/* Glabal */


.page-body{
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  min-height: 100%;
  display:grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
  color: var(--basic-black);
}
img{
  max-width:100%;
}
ul{
  list-style: none;
}

.button{
  border: none;
  background-color: var(--basic-red);
  color: var(--bacis-white);
}

.page{
  height:100%;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/* header */

.main-header{
  display:grid;
  grid-template-rows: min-content 1 fr min-content;
  font-family: "Cuprum";
  background-color: var(--basic-light-blue-blue);
  /* max-height: 320px; */
  margin-bottom: 60px;
}

.main-header-top{
  /* height: 42px; */
  background-color:var(--basic-blue);
  color:var(--bacis-white);
}
.main-header-top-wrapper{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-top a{
  color:var(--bacis-white);
}
.main-header-order{
  padding: 9px 16px 9px 19px;
  background-color: var(--basic-green);
}

.main-header-middle-wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-middle-desc{
  margin: 0 auto;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color:var(--basic-red);
}
.header-middle-adress-tel{
  justify-self: center;
  
}
.header-middle-adress-tel-tel a{
  font-family: Cuprum;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  
  color: var(--basic-red);
}

.header-middle-adress-adress{
  justify-self: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-adress-link);
}
.header-middle-login{
  justify-self: center;
}

.header-middle-login li{
  display: inline;
  font-size: 21px;
  line-height: 21px;
}

.main-navigation{
  font-size: 18px;
  line-height: 24px;
  color:var(--bacis-white);
  background-color: var(--basic-blue);
}
.main-navigation-wrapper{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;  
}

.site-navigation a {
  color:var(--bacis-white);
}

.site-navigation a:hover,
.site-navigation a:focus{
  background-color:var(--basic-extra-dark-blue);
}
.site-navigation a:active{
  color:var(--basic-bookmark-click);
}
/*************************** category ********************************/

.category{
  font-family: Cuprum;
  color: var(--bacis-white);
}
.category-list{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content min-content;
  gap: 20px;
  
}

.category-header{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.category-link{
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  color: inherit;
  text-transform: uppercase;
  line-height: 18px;  
  background-color: rgba(255, 255, 255, 0.3);
}

.category-item{
  width: 300px;
  height: 123px;
}
.category-materials{
  background: var(--basic-material) ;
}
.category-tool{
  background-color: var(--basic-tool);
}
.category-technics{
  background-color: var(--basic-technics);
}
.category-discount{
  background-color:var(--basic-discount);
}
.category-delivery{
  background-color: var(--basic-delivery);
}
.category-link:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.category-slider{
  grid-row: 2/4;
  grid-column: 1/3;
  width: 620px;
  height: 266px;
  background-color: #515151;  
  background-image: url("../img/slider-perf.jpg");
  color: var(--bacis-white);
}
.category-slider a{
  color: inherit;
}
.category-slider-link{
  font-size: 14px;
  background: var(--basic-dark-red);
  width: 192px;
  height: 38px;
}

/****************************** POPULAR **********************/

.products{
}

.popular-header-wrapper{
  height: 89px;
  background-color: var(--basic-light-yellow);
  font-family: Cuprum;
  text-transform: uppercase;
}
.popular-header{
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-adress-link);
}

.popular-link{
  font-size: 14px;
}

.products-list{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.products-item{
  width: 220px;
  height: 318px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  text-align: center;
  border: 1px solid var(--basic-item-border);
}
.products-item p{
  margin: 0;;
}


.products-item-desc{
  /* margin: 0px; */
}

/* .products-item-img{
  position: relative; */
  /* min-height: 164px;
  margin: 0 auto; */

}

.products-item-img img{
  position: absolute;
  margin: auto;
  /* min-height: 164px;
  margin: 0 auto; */
}




.products-item-price{
  width: 141px;
  height: 38px;
  margin: 0 auto;
  padding-top: 10px;
  color:var(--bacis-white);
  background: url("../img/red-button.svg") no-repeat 0% 0%;

}

.products-item-price-sale{
  color: var(--basic-del-text);
}
.products-item-price{
}

/*****************SERVICE******************************/

.service{
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 1fr 1fr ;
}

.service-header{
  color: var(--basic-black);
  font-size: 30px;
  font-family: Cuprum;
  text-transform: uppercase;
}
.service-desc{
  grid-row: 2/3;
  grid-column: 1/2;
}

.service-list{
  grid-row: 3/4;
}

.service-desc-list{
  grid-row: 3/4;
}

.button-service{
  font-family: Cuprum;
  font-weight: 700;
  font-size: 21px;
  padding-left: 22px;
  text-align: left;
  width: 240px;
  height: 61px;
  background-color: var(--basic-bookmark-hover);  
  color:var(--bacis-white);
  border-top: 1px solid #405069;
  border-bottom: 1px solid var(--basic-bookmark-hover-dark);
}

.button-service:hover{
  color: var(--basic-bookmark-hover);  
  background-color: var(--bacis-white);
  border-bottom: 1px solid var(--bacis-white);
}

.service-desc-header{
  font-family: Cuprum;
  font-size: 30px;
  color: var(--basic-blue)
}

/************************* ABOUT ***************************/

.about{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 70px;
}

.about-company-header{
  font-family: Cuprum;
  font-size: 30px;
  text-transform: uppercase;
}

.about-company-item{
  font-family: 'Cuprum';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about-company-link{
  display: block;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 11px 0 8px 0;
  color: var(--bacis-white);
  background-color: var(--basic-dark-red);
}
.about-contact-header{
  font-family: 'Cuprum';
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-contact-link{
  display: block;
  width: 300px;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 0 8px 0;
  color: var(--bacis-white);
  background-color: var(--basic-dark-red);
}
















/* .new::after{
  content: "eweq";
  background: url("../img/new-item.svg") no-repeat 100% 0%;
} */



/************************FOOTER**************************/

.footer{
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  background-color: var(--basic-blue);
  color: var(--bacis-white);
}

.footer-category-item a{
  color:var(--basic-yellow);
}

.feedback-item a{
  color:var(--basic-yellow);
}
.footer-wrapper{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}